.custom-nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 800px; /* largura desejada */
    z-index: 0                                                                                                                                                                                                                                                                                                                                                                                                                          ; /* z-index alto para garantir que fique sobre o conteúdo */
    overflow-y: auto; /* permite rolagem vertical se o menu for maior que a tela */
}
